.navbar {
  background-color: #ffa500;
}

.btn-danger {
  background-color: #ffa500;
  border-color: #ffa500;
  color: white;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
}
