.navbar {
  background-color: #ffa500;
}

.btn-danger {
  background-color: #ffa500;
  border-color: #ffa500;
  color: white;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: #fff;
}

.btn-danger:hover {
  background-color: #ff7b00;
  border-color: #ff7b00;
}

.navbar-toggler-icon:hover {
  background-color: #fff;
  border-radius: 50%;
}
