@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "colors";
@import "mixin";

.all {
  background-color: map-get($colori, bg_body);
}

nav {
  background-color: map-get($colori, bg_body);
}

.size_img {
  @include img;
}

footer {
  padding-top: 150px;
  padding-left: 200px;
  padding-right: 200px;
  color: map-get($colori, text_footer);
}
.gray {
  color: map-get($colori, text_footer);
}

.margin {
  margin-left: 30px;
}
.img_margin {
  padding-right: inherit;
}

.color {
  background-color: #313331;
  color: #f5f5e5;
}
.edit {
  color: #6b6b6b;
  background-color: black;
}

.form {
  background-color: #666666;
}
.border {
  border-top: 5px solid red;
}
.color_language {
  color: #6b6b6b;
}
.prova {
  width: 70px;
  height: 70px;
  display: contents;
}
