@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "colors";
@import "mixin";

.all {
  background-color: map-get($colori, bg_body);
}

nav {
  background-color: map-get($colori, bg_body);
}

.size_img {
  @include img;
}

footer {
  padding-top: 150px;
  padding-left: 200px;
  padding-right: 200px;
  color: map-get($colori, text_footer);
}
.gray {
  color: map-get($colori, text_footer);
}

bg_gray {
  background-color: map-get(
    $colori,
    text_footer
  ); //non funziona, controllare!!!!!!!!
}
