<div class="container mt-5">
  <h1 class="text-center mb-4">Benvenuto!</h1>

  <div class="row">
    <div class="col-md-4" *ngFor="let movie of movieArray">
      <div class="card mb-4 shadow-sm">
        <img [src]="movie.cover" class="card-img-top" alt="Movie Cover" />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">{{ movie.description }}</p>

          <div class="d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-sm btn-outline-primary">
              Dettagli
            </button>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
