/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
body {
  background: rgb(34, 193, 195) no reapet;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 235, 45, 1) 88%
  );
  background-size: 100% 100vh;
}
