.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: #fef7e2;
  border-radius: 15%;
}
.text1,
.text2 {
  align-self: flex-start;
  color: #714032;
}

.text3 {
  align-self: flex-end;
  color: #714032;
}
.text1 {
  padding-left: 20px;
}
.text2 {
  padding-left: 25px;
  margin-top: -15px;
}

.text3 {
  color: #714032;
}

.btn {
  align-self: center;
  margin-top: auto;
  margin-bottom: 20px;
  background-color: #ffdf7f;
  border-radius: 30px;
  color: #714032;
  text-decoration: none;
  padding: 10px 40px 10px 40px;
}
.img1 {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
