<div class="container mt-5 home-container">
  <h1 class="text-center mb-4">Benvenuto, {{ user?.name }}</h1>

  <div class="row">
    <div class="col-md-4" *ngFor="let movie of movieArray">
      <div class="card mb-4 shadow-sm movie-card">
        <div class="movie-cover"></div>
        <img [src]="'https://picsum.photos/200/301'" alt="Immagine" />

        <div class="card-body">
          <h5 class="card-title text-center">
            {{ movie.title }}
          </h5>
          <p class="card-text text-center">
            {{ movie.description }}
          </p>
          <p class="card-text text-center">{{ movie.genre }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-sm btn-outline-primary">
              Dettagli
            </button>
            <button type="button" class="btn btn-sm btn-outline-danger">
              <i class="bi bi-heart-fill text-white"></i> Preferiti
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
